<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultivos</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-icons-1.4.0/bootstrap-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/details.css}" />
</head>

<body>
    <header>
        <nav class="navbar navbar-light mb-5">
            <div class="container-fluid no-select">
                <a id="logo" class="navbar-brand me-auto ms-lg-3 ms-sm-2 ms-0 no-select" href="/">
                    AgroWorld
                </a>
            </div>
        </nav>
    </header>

    <section class="container my-5 mx-auto details-container">
        <div class="details m-auto">
            <form th:action="@{/cultivo/nuevo/guardado}" method="post" id="new-cultivo-form" class="new-form">
                <fieldset>
                    <legend class="mb-3">Nuevo cultivo</legend>
                    <div class="details-navigation mb-4 m-auto">
                        <a href="javascript:history.back()" class="btn btn-secondary mx-2" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Cancelar">
                            <i class="bi bi-arrow-return-left"></i>
                        </a>
                        <input type='submit' class="btn btn-success mx-2" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Guardar" value="Guardar" />
                    </div>
                    <div class="form-data">
                        <hr>
                        <div class="mb-3">
                            <label for="especie-input" class="form-label">Especie:</label>
                            <input type="text" id="especie-input" class="form-control" placeholder="Especie"
                                name="especie" required>
                        </div>

                        <div class="mb-3">
                            <label for="variedad-input" class="form-label">Variedad:</label>
                            <input type="text" id="variedad-input" class="form-control" placeholder="Variedad"
                                name="variedad" required>
                        </div>

                        <div class="mb-3">
                            <label for="zona-input" class="form-label">Zona:</label>
                            <input type="text" id="zona-input" class="form-control" placeholder="Zona" name="zona">
                        </div>

                        <div class="mb-3">
                            <label for="fPlant-input" class="form-label">Fecha de plantación:</label>
                            <input type="date" id="fPlant-input" class="form-control" name="fechaPlantado"
                                placeholder="Fecha de plantación" required>
                        </div>
                      </div>
                      
                      <input id="origenTratamiento" name="origenTratamiento" type="hidden" th:value="${origenTratamiento}" />
                      
                </fieldset>
            </form>
        </div>
    </section>

    <script type="text/javascript" th:src="@{/lib/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/details.js}"></script>
</body>

</html>