<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-icons-1.4.0/bootstrap-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements-grid.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/details.css}" />
</head>

<body>

    <header>
        <nav class="navbar navbar-light mb-5">
            <div class="container-fluid no-select">
                <a id="logo" class="navbar-brand me-auto ms-lg-3 ms-sm-2 ms-0 no-select" href="/">
                    AgroWorld
                </a>
            </div>
        </nav>
    </header>

    <section class="container my-5 mx-auto details-container">
        <div class="details m-auto">

            <form>
                <fieldset>
                    <legend class="mb-3">Detalles de producto</legend>
                    <div class="details-navigation mb-4 m-auto">
                        <a th:href="@{/productos}" class="btn btn-secondary mx-2" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Regresar">
                            <i class="bi bi-arrow-return-left"></i>
                        </a>
                        <a th:href="@{/producto/modificacion/{id}(id=${producto.id})}" class="btn btn-warning mx-2"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modificar">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a th:href="@{/producto/borrado/{id}(id=${producto.id})}" class="btn btn-danger mx-2"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                    <div class="form-data">
                        <hr>
                        <div class="mb-3">
                            <label for="nombre-input" class="form-label">Nombre:</label>
                            <input type="text" disabled id="nombre-input" class="form-control" placeholder="Nombre"
                                th:value="${producto.nombre}">
                        </div>
                        <div class="mb-3">
                            <label for="descripcion-input" class="form-label">Descripcion:</label>
                            <input type="text" disabled id="descripcion-input" class="form-control"
                                placeholder="Descripcion" th:value="${producto.descripcion}">
                        </div>

                        <div class="mb-3">
                            <label for="plazoReentrada-input" class="form-label">Plazo de reentrada:</label>
                            <input type="text" disabled id="plazoReentrada-input" class="form-control"
                                placeholder="Plazo de reentrada" th:value="${producto.plazoReentrada}">
                        </div>

                        <div class="mb-3">
                            <label for="plazoRecoleccion-input" class="form-label">Plazo de recoleccion:</label>
                            <input type="date" disabled id="plazoRecoleccion-input" class="form-control"
                                placeholder="Plazo de recoleccion" th:value="${producto.plazoRecoleccion}">
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </section>

    <script type="text/javascript" th:src="@{/lib/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js}"></script>
</body>

</html>