<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tratamientos</title>
	<link rel="icon" type="image/png" th:href="@{/favicon.png}">
	<link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-icons-1.4.0/bootstrap-icons.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/elements-grid.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
</head>

<body>

	<header>
		<nav class="navbar navbar-light mb-5">
			<div class="container-fluid no-select">
				<a id="logo" class="navbar-brand me-auto ms-lg-3 ms-sm-2 ms-0 no-select" href="/">
					AgroWorld
				</a>
				<a href="javascript:history.back()" class="btn mx-2 retroceso" data-bs-toggle="tooltip" data-bs-placement="bottom"
					title="Retroceder">
					<i class="bi bi-arrow-return-left"></i>
				</a>
			</div>
		</nav>
	</header>

	<section class="container my-5 mx-auto">

		<div class="mb-4">
			<div class="grid-header">
				<h2 class="section-title pe-md-2">Tratamientos:</h2>
				<div class="me-auto my-auto ms-md-5 ms-2">
					<label for="opciones-checkbox">Mostrar opciones:</label>
					<input id="opciones-checkbox" type="checkbox" onclick="eventHandler(this.checked)"
						th:checked="${fechaPlazo!=null || ordenReentrada !=null || ordenRecoleccion!=null || ordenEspecie!=null}">
				</div>
				<a th:href="@{/tratamiento/nuevo}" class="btn btn-success mx-sm-1 mx-2 add-element"
					data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nuevo tratamiento">
					<i class="bi bi-plus"></i>
				</a>
			</div>
			<div id='opciones'
				th:styleappend="${fechaPlazo!=null || ordenReentrada !=null || ordenRecoleccion!=null || ordenEspecie!=null}? 'display:flex;' : 'display:none;'">
				<div id="filtros" class="mx-2">
					<a href="/tratamientos/especie" class="btn" data-bs-toggle="tooltip" data-bs-placement="right"
						title="Ordenar por especie"
						th:classappend="${ordenEspecie!=null} ? 'filter-pressed' : 'filtro'">
						Ordenar por especie
					</a>
					<a href="/tratamientos/fechaReentrada" class="btn" data-bs-toggle="tooltip"
						data-bs-placement="right" title="Ordenar por fecha de reentrada"
						th:classappend="${ordenReentrada!=null} ? 'filter-pressed' : 'filtro'">
						Ordenar por Fecha de Reentrada
					</a>
					<a href="/tratamientos/fechaRecoleccion" class="btn" data-bs-toggle="tooltip"
						data-bs-placement="right" title="Ordenar por fecha de recolección"
						th:classappend="${ordenRecoleccion!=null} ? 'filter-pressed' : 'filtro'">
						Ordenar por Fecha de Recolección
					</a>
					<div class="btn no-clickable" data-bs-toggle="tooltip" data-bs-placement="right"
						title="Filtrar por una fecha de plazo"
						th:classappend="${fechaPlazo!=null} ? 'filter-pressed' : 'filtro'">
						<label for="filtro-plazo-input">Filtrar por plazo:</label>
						<input id="filtro-plazo-input" type="date" class="filtro-fecha" th:value="${fechaPlazo}">
					</div>
				</div>
				<a th:if="${fechaPlazo!=null || ordenReentrada !=null || ordenRecoleccion!=null || ordenEspecie!=null}"
					id="limpiar-filtro-plazo" href="/tratamientos" class="btn btn-secondary mx-1 mt-3"
					data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reiniciar">
					Reiniciar
				</a>
			</div>
		</div>



		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-4">
			<div class="col" th:each="tratamiento : ${tratamientos}">
				<div class="card h-100 grid-element">
					<div class="element-header" th:text="${tratamiento.id}"></div>
					<div class="card-body">
						<p th:text="'Cultivo: '+ ${tratamiento.cultivo.especie} + ' (' + ${tratamiento.cultivo.id} + ')'"></p>
						<p th:text="'Fecha de aplicación: ' + ${#temporals.format(tratamiento.fechaAplicacion, 'dd-MM-yyyy')}"></p>
						<p th:text="'Fecha de reentrada: ' + ${#temporals.format(tratamiento.fechaReentrada, 'dd-MM-yyyy')}"></p>
						<p th:text="'Fecha de recolección: ' + ${#temporals.format(tratamiento.fechaRecoleccion, 'dd-MM-yyyy')}"></p>
						<p th:text="'Zona: '+ ${(tratamiento.cultivo.zona.length == 0)? 'No especificada' : tratamiento.cultivo.zona}"></p>
					</div>
					<div class="card-footer d-flex justify-content-around">
						<a th:href="@{/tratamiento/{id}/detalle(id=${tratamiento.id})}" class="btn btn-info mx-1"
							data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver detalles">
							<i class="bi bi-info-circle"></i>
						</a>
						<a th:href="@{/tratamiento/{id}/modificacion(id=${tratamiento.id})}"
							class="btn btn-warning mx-1" data-bs-toggle="tooltip" data-bs-placement="bottom"
							title="Modificar">
							<i class="bi bi-pencil"></i>
						</a>
						<a th:href="@{/tratamiento/{id}/borrado(id=${tratamiento.id})}" class="btn btn-danger mx-1"
							data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar">
							<i class="bi bi-trash"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" th:src="@{/js/grid-display.js}"></script>
</body>

</html>