<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamientos</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-icons-1.4.0/bootstrap-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/details.css}" />
</head>

<body>

    <header>
        <nav class="navbar navbar-light mb-5">
            <div class="container-fluid no-select">
                <a id="logo" class="navbar-brand me-auto ms-lg-3 ms-sm-2 ms-0 no-select" href="/">
                    AgroWorld
                </a>
            </div>
        </nav>
    </header>

    <section class="container my-5 mx-auto details-container">
        <form th:action="@{/tratamiento/nuevo/guardado}" method="post" id="new-tratamiento-form" class="new-form">
            <fieldset>
                <legend class="mb-3">Nuevo tratamiento</legend>
                <div class="details-navigation mb-4 m-auto">
                    <a href="javascript:history.back()" class="btn btn-secondary mx-2" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Cancelar">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>
                    <input type='submit' class="btn btn-success mx-2" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Guardar" value="Guardar" />
                </div>
                <div class="form-data">
                    <hr>
                    <div class="mb-3">
                        <label for="cultivo-input" class="form-label">Cultivo:</label>
                        <div class="d-flex">
                            <select id="cultivos" name="cultivo" class="form-select"
                                aria-label="Selecciona un cultivo asociado" required>
                                <option th:each="cultivo : ${cultivos}" th:value="${cultivo.id}"
                                    th:text="${cultivo.especie} + ' (' + ${cultivo.id} + ') '"></option>
                            </select>
                            <a th:href="@{/tratamiento/nuevo/cultivo}" class="btn btn-success mx-sm-1 mx-2 add-element"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nuevo cultivo">
                                <i class="bi bi-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="producto-input" class="form-label">Producto:</label>
                        <div class="d-flex">
                            <select id="productos" name="producto" class="form-select"
                                aria-label="Selecciona un producto asociado" required>
                                <option th:each="producto : ${productos}" th:value="${producto.id}"
                                    th:text="${producto.nombre} + ' (' + ${producto.id} + ') '"></option>
                            </select>
                            <a th:href="@{/tratamiento/nuevo/producto}" class="btn btn-success mx-sm-1 mx-2 add-element"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nuevo producto">
                                <i class="bi bi-plus"></i>
                            </a>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="lote-input" class="form-label">Lote:</label>
                        <input type="text" id="lote-input" class="form-control" placeholder="Lote" name="lote" required>
                    </div>

                    <div class="mb-3">
                        <label for="fechaAplicacion-input" class="form-label">Fecha de aplicación:</label>
                        <input type="date" id="fechaAplicacion-input" class="form-control" name="fechaAplicacion"
                            placeholder="Fecha de aplicación" required>
                    </div>

                    <input id="origenCultivoId" name="origenCultivoId" type="hidden" th:value="${origenCultivoId}" />

                </div>
            </fieldset>
        </form>
    </section>

    <script type="text/javascript" th:src="@{/lib/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/details.js}"></script>
</body>

</html>