<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamientos</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-icons-1.4.0/bootstrap-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/details.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements-grid.css}" />
</head>

<body>

	<header>
		<nav class="navbar navbar-light mb-5">
			<div class="container-fluid no-select">
				<a id="logo" class="navbar-brand me-auto ms-lg-3 ms-sm-2 ms-0 no-select" href="/">
					AgroWorld
				</a>
				<a href="javascript:history.back()" class="btn mx-2 retroceso" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Retroceder">
                            <i class="bi bi-arrow-return-left"></i>
                </a>
			</div>
		</nav>
	</header>

    <section class="container my-5 mx-auto details-container">
        <div class="details m-auto">
            
            <p> to be done </p>
            
        </div>
    </section>

    <script type="text/javascript" th:src="@{/lib/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/details.js}"></script>
</body>

</html>