<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamientos</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-icons-1.4.0/bootstrap-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements-grid.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/details.css}" />
</head>

<body>

    <header>
        <nav class="navbar navbar-light mb-5">
            <div class="container-fluid no-select">
                <a id="logo" class="navbar-brand me-auto ms-lg-3 ms-sm-2 ms-0 no-select" href="/">
                    AgroWorld
                </a>
            </div>
        </nav>
    </header>

    <section class="container my-5 mx-auto details-container">
        <div class="details m-auto">

            <form>
                <fieldset>
                    <legend class="mb-3">Detalles de tratamiento</legend>
                    <div class="details-navigation mb-4 m-auto">
                        <a th:href="@{/tratamientos}" class="btn btn-secondary mx-2" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Regresar">
                            <i class="bi bi-arrow-return-left"></i>
                        </a>
                        <a th:href="@{/tratamiento/modificacion/{id}(id=${tratamiento.id})}"
                            class="btn btn-warning mx-2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Modificar">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a th:href="@{/tratamiento/borrado/{id}(id=${tratamiento.id})}" class="btn btn-danger mx-2"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                    <div class="form-data">
                        <hr>
                        <div class="mb-3">
                            <label for="fechaAplicacion-input" class="form-label">Fecha de aplicacion:</label>
                            <input type="date" disabled id="fechaAplicacion-input" class="form-control"
                                th:value="${tratamiento.fechaAplicacion}" placeholder="Fecha aplicacion">
                        </div>
                        <div class="mb-3">
                            <label for="fechaReentrada-input" class="form-label">Fecha de reentrada:</label>
                            <input type="date" disabled id="fechaReentrada-input" class="form-control"
                                th:value="${tratamiento.fechaReentrada}" placeholder="Fecha reentrada">
                        </div>
                        <div class="mb-3">
                            <label for="fechaRecoleccion-input" class="form-label">Fecha de recoleccion:</label>
                            <input type="date" disabled id="fechaRecoleccion-input" class="form-control"
                                th:value="${tratamiento.fechaRecoleccion}" placeholder="Fecha recoleccion">
                        </div>
                        <div class="mb-3">
                            <label for="lote-input" class="form-label">Lote:</label>
                            <input type="text" disabled id="lote-input" class="form-control" placeholder="Variedad"
                                th:value="${tratamiento.lote}">
                        </div>

                        <div class="mb-3">
                            <p>Cultivo:</p>
                            <p th:text="'Especie: '+ ${tratamiento.cultivo.especie}"></p>
                            <p th:text="'Asunto: '+ ${tratamiento.cultivo.variedad}"></p>
                            <p th:text="${#temporals.format(tratamiento.cultivo.fechaPlantado, 'dd-MM-yyyy')}"></p>
                            <p th:text="'Zona: '+ ${tratamiento.cultivo.zona}"></p>
                        </div>


                        <div>
                            <p>Producto:</p>
                            <p th:text="'Nombre: '+ ${tratamiento.producto.nombre}"></p>
                            <p th:text="'Descripción: '+ ${tratamiento.producto.descripcion}"></p>
                            <p th:text="'Plazo de reentrada: '+ ${tratamiento.producto.plazoReentrada}"></p>
                            <p th:text="'Plazo de recolección: '+ ${tratamiento.producto.plazoRecoleccion}"></p>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </section>

    <script type="text/javascript" th:src="@{/lib/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js}"></script>
</body>

</html>