<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamientos</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-icons-1.4.0/bootstrap-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/details.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements-grid.css}" />
</head>

<body>

    <header>
        <nav class="navbar navbar-light mb-5">
            <div class="container-fluid no-select">
                <a id="logo" class="navbar-brand me-auto ms-lg-3 ms-sm-2 ms-0 no-select" href="/">
                    AgroWorld
                </a>
            </div>
        </nav>
    </header>

    <section class="container my-5 mx-auto details-container">
        <div class="details m-auto">

            <form th:action="@{/tratamiento/modificacion/guardado/__${tratamiento.id}__}" method="post"
                id="update-tratamiento-form">
                <fieldset>
                    <legend class="mb-3">Modificar tratamiento</legend>
                    <div class="details-navigation mb-4 m-auto">
                        <a href="javascript:history.back()" class="btn btn-secondary mx-2" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Cancelar">
                            <i class="bi bi-arrow-return-left"></i>
                        </a>
                        <input type='submit' class="btn btn-success mx-2" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" value="Guardar" />
                    </div>
                    <div class="form-data">
                        <hr>
                        <div class="mb-3">
                            <label for="cultivo-input" class="form-label">Cultivo:</label>
                            <div class="d-flex">
                                <select id="cultivos" name="cultivo" class="form-select"
                                    aria-label="Selecciona un cultivo asociado">
                                    <option th:each="cultivo : ${cultivos}" th:value="${cultivo.id}"
                                        th:text="${cultivo.especie} + ' (' + ${cultivo.id} + ') '"></option>
                                </select>

                                <a th:href="@{/cultivo/nuevo}" class="btn btn-success mx-sm-1 mx-2 add-element"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nuevo cultivo">
                                    <i class="bi bi-plus"></i>
                                </a>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="producto-input" class="form-label">Producto:</label>
                            <div class="d-flex">
                                <select id="productos" name="producto" class="form-select"
                                    aria-label="Selecciona un producto asociado">
                                    <option th:each="producto : ${productos}" th:value="${producto.id}"
                                        th:text="${producto.nombre} + ' (' + ${producto.id} + ') '"></option>
                                </select>
                                <a th:href="@{/producto/nuevo}" class="btn btn-success mx-sm-1 mx-2 add-element"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nuevo producto">
                                    <i class="bi bi-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fechaAplicacion-input" class="form-label">Fecha de aplicación:</label>
                            <input type="date" id="fechaAplicacion-input" class="form-control" name="fechaAplicacion"
                                th:value="${tratamiento.fechaAplicacion}" placeholder="Fecha de aplicación" required>
                        </div>

                        <div class="mb-3">
                            <label for="fechaReentrada-input" class="form-label">Fecha de reentrada:</label>
                            <input type="date" id="fechaReentrada-input" class="form-control" name="fechaReentrada"
                                th:value="${tratamiento.fechaReentrada}" placeholder="Fecha de reentrada" required>
                        </div>

                        <div class="mb-3">
                            <label for="fechaRecoleccion-input" class="form-label">Fecha de recolección:</label>
                            <input type="date" id="fechaRecoleccion-input" class="form-control" name="fechaRecoleccion"
                                th:value="${tratamiento.fechaRecoleccion}" placeholder="Fecha de recolección" required>
                        </div>

                        <div class="mb-3">
                            <label for="lote-input" class="form-label">Lote:</label>
                            <input type="text" id="lote-input" class="form-control" placeholder="Lote" name="lote"
                                th:value="${tratamiento.lote}">
                        </div>




                    </div>
                </fieldset>
            </form>

        </div>
    </section>

    <script type="text/javascript" th:src="@{/lib/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/details.js}"></script>
</body>

</html>