/*  
    *Sirva este CSS para recoger los estilos de la vista de detalle.
    * This stylesheet is for the details view.
*/

.form-control:read-only, .form-control:disabled {
    background-color: white !important;
}

legend {
    font-size: 27px;
    font-family: caviar-dreams;
    font-weight: bold;
    width: fit-content;
    float: unset;
    text-align: center;
}

.details-navigation {
    display: flex;
    justify-content: center;
}

.details-container label {
    font-family: 'caviar-dreams';
    font-weight: bold;
}

.modified {
    background-color: #b4f3f1;
}

.form-data {
    width: 18rem;
    width: -moz-fit-content;
    margin: 0 auto;
}

.add-list {
    background-color: #bbf9b7;
}

.element-header a {
    height: min-content;
}

.add-list i {
    font-size: 40px;
    color: #094409;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.add-list:hover i {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.listado .grid-element {
    width: 200px;
    margin: auto;
}