/*  
    *Sirva este CSS para recoger los estilos de la vista de detalle.
    * This stylesheet is for the details view.
*/

.form-control:disabled {
    background-color: white !important;
}

legend {
    font-size: 27px;
    font-family: caviar-dreams;
    font-weight: bold;
    width: fit-content;
    float: unset;
    text-align: center;
}

.details-navigation {
    display: flex;
    justify-content: center;
}

.details-container label {
    font-family: 'caviar-dreams';
    font-weight: bold;
}

.modified {
    background-color: #b4f3f1;
}

.form-data {
    width: 18rem;
    width: -moz-fit-content;
    margin: 0 auto;
}

.add-list {
    background-color: #bbf9b7;
}

.add-list i {
    font-size: 40px;
    color: #094409;
}

.add-list i:hover {
    cursor: pointer;
}