/*  
    *Sirva este CSS para organizar los estilos de el despliegue de elementos.
    * This stylesheet is only for the elements grid view.
*/

.grid-element .element-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-weight: bold;
}

.add-element {
    height: fit-content;
    height: -moz-fit-content;
}

.grid-header {
    display: flex;
    justify-content: space-between;
}

#filtro-plazo {
    height: min-content;
    border: 1px solid black;
    padding: 3px;
    border-radius: .25rem;
    background-color: hsl(116deg 40% 47%);
}

#filtro-plazo-input {
    width: 145px;
    background-color: hsl(117deg 42% 90%);
}

#limpiar-filtro-plazo {
    color: black;
}