/*  
    *Sirva este CSS para organizar los estilos de el despliegue de elementos.
    * This stylesheet is only for the elements grid view.
*/

.grid-element .element-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-weight: bold;
}

.add-element {
    height: fit-content;
    height: -moz-fit-content;
}

.grid-header {
    display: flex;
    justify-content: space-between;
}