/*  
    *Sirva este CSS para los aspectos generales de la aplicación.
    * This stylesheet is only for general purpose.
    -Varo412-
*/

body {
    background-color: #d0f1ce;
}

header {
    background-color: #77a774;
    position: sticky !important;
    top: 0;
    z-index: 1;
}

#logo {
    cursor: pointer;
    font-family: 'kg_happy', serif
}

.section-title {
    font-family: caviar-dreams;
    font-weight: bold;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}