/*  
    *Sirva este CSS para los aspectos generales de la aplicación.
    * This stylesheet is only for general purpose.
*/

body {
    background-color: #d0f1ce;
}

header {
    background-color: #77a774;
    position: sticky !important;
    top: 0;
    z-index: 1;
}

#logo {
    cursor: pointer;
    font-family: 'kg_happy', serif
}

.section-title {
    font-family: caviar-dreams;
    font-weight: bold;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.error-pic {
    max-height: 50vh;
    max-width: 50vw;
    margin-bottom: 1rem;
}

.error-text {
    font-family: caviar-dreams;
    font-weight: bold;
}

.error-link {
    margin-top: 2rem;
    background-color: #77a774;
    color: white;
    font-family: caviar-dreams;
    font-size: 2rem;
}

.error-link:hover {
    color: white;
    background-color: #6a9766;
    box-shadow: 5px 3px #5f7a5e;
}

.retroceso {
    background-color: hsl(116, 33%, 38%);
    border-color: hsla(116, 33%, 20%, 0.7);
}

.retroceso:hover {
    background-color: hsl(116, 33%, 30%);
}

.retroceso i {
    color: white;
}

.no-clickable {
    cursor: initial;
}

.clickable {
    cursor: pointer;
}